# Dataset Introduction
this notebook will interduce the the collected dataset which make this research possible.
this dataset is featured information about alot of network traffic records as samples.
it presented as table (CSV file) which his rows (records) refers to samples and column refers to features of a sample (one feature can be presented by several columns)

# Import

In [1]:
import pandas as pd
from pycaret.classification import *
import time

# Settings

In [2]:
# set constants
target_label = 'tuple'
path = "../Datasets/" + target_label + "_dataset/"
original_data_file = "all_features_"
tuned_data_file = "converted_all_features_"
optimized_data_file = "new_all_features_"

# Read Original Data

In [7]:
data = pd.read_csv(path+original_data_file+target_label+'.csv',
                      sep='\t',
                      skiprows=[1])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20632 entries, 0 to 20631
Data columns (total 70 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20632 non-null  float64
 1   1       20632 non-null  float64
 2   2       20632 non-null  float64
 3   3       20632 non-null  float64
 4   4       20632 non-null  float64
 5   5       20632 non-null  float64
 6   6       20632 non-null  float64
 7   7       20632 non-null  float64
 8   8       20632 non-null  float64
 9   9       20632 non-null  float64
 10  10      20632 non-null  float64
 11  11      20632 non-null  float64
 12  12      20632 non-null  float64
 13  13      20632 non-null  float64
 14  14      20632 non-null  float64
 15  15      20632 non-null  float64
 16  16      20632 non-null  float64
 17  17      20632 non-null  float64
 18  18      20632 non-null  float64
 19  19      20632 non-null  float64
 20  20      20632 non-null  float64
 21  21      20632 non-null  float64
 22  22      20632 non-null  float64
 23  23      20632 non-null  float64
 24  24      20632 non-null  float64
 25  25      20632 non-null  float64
 26  26      20632 non-null  float64
 27  27      20632 non-null  float64
 28  28      20632 non-null  float64
 29  29      20632 non-null  float64
 30  30      20632 non-null  float64
 31  31      20632 non-null  float64
 32  32      20632 non-null  float64
 33  33      20632 non-null  float64
 34  34      20632 non-null  float64
 35  35      20632 non-null  float64
 36  36      20632 non-null  float64
 37  37      20632 non-null  float64
 38  38      20632 non-null  float64
 39  39      20632 non-null  float64
 40  40      20632 non-null  float64
 41  41      20632 non-null  float64
 42  42      20632 non-null  float64
 43  43      20632 non-null  float64
 44  44      20632 non-null  float64
 45  45      20632 non-null  float64
 46  46      20632 non-null  float64
 47  47      20632 non-null  float64
 48  48      20632 non-null  float64
 49  49      20632 non-null  float64
 50  50      20632 non-null  float64
 51  51      20632 non-null  float64
 52  52      20632 non-null  float64
 53  53      20632 non-null  float64
 54  54      20632 non-null  float64
 55  55      20632 non-null  float64
 56  56      20632 non-null  float64
 57  57      20632 non-null  float64
 58  58      20632 non-null  float64
 59  59      20632 non-null  float64
 60  60      20632 non-null  float64
 61  61      20632 non-null  float64
 62  62      20632 non-null  float64
 63  63      20632 non-null  float64
 64  64      20632 non-null  float64
 65  65      20632 non-null  float64
 66  66      20632 non-null  float64
 67  67      20632 non-null  float64
 68  68      20632 non-null  float64
 69  label   20632 non-null  int64
dtypes: float64(69), int64(1)
memory usage: 11.0 MB

In [9]:
data.shape

(20632, 70)

In [11]:
data['label'].unique()

array([16102, 14602, 15602, 18102, 13102, 11602, 16201, 13201, 18201,
       16101, 13101, 18101, 16202, 18202, 13202, 16302, 18302, 13302,
       13403, 18403, 17403, 14601, 17101, 12101, 17201, 12201, 16403,
       16103, 13103, 18103], dtype=int64)

In [12]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,label
0,32.0,13.0,1.0,8.0,1460.0,8192.0,0.0,1.0,0.0,0.0,...,571.0,1414.0,81.771159,355.893919,71.938138,1289.699861,0.0,1.0,2.0,16102
1,0.0,7.0,1.0,8.0,1460.0,8192.0,0.0,0.0,1.0,0.0,...,923.0,1414.0,307.559344,606.057694,268.333333,611.750000,0.0,1.0,0.0,14602
2,0.0,12.0,1.0,8.0,1460.0,8192.0,0.0,1.0,0.0,0.0,...,515.0,1414.0,98.073770,323.085513,80.223022,1319.186207,0.0,1.0,0.0,16102
3,0.0,12.0,1.0,8.0,1460.0,8192.0,0.0,1.0,0.0,0.0,...,747.0,1414.0,122.320333,321.179295,89.828571,176.085714,0.0,1.0,19.0,16102
4,0.0,7.0,1.0,8.0,1460.0,8192.0,0.0,0.0,0.0,0.0,...,523.0,1414.0,147.162557,678.502510,139.272727,626.900000,0.0,1.0,0.0,15602

In [13]:
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,label
20627,0.0,5.0,1.0,5.0,1460.0,65535.0,0.0,0.0,0.0,0.0,...,1414.0,1414.0,599.397510,461.894860,496.556164,438.310479,1.0,0.0,0.0,16403
20628,0.0,5.0,1.0,5.0,1460.0,65535.0,0.0,0.0,0.0,0.0,...,1414.0,1414.0,586.625477,498.029629,462.916667,374.612903,1.0,0.0,0.0,16403
20629,0.0,5.0,1.0,5.0,1460.0,65535.0,0.0,0.0,0.0,0.0,...,1399.0,1414.0,382.097040,429.781280,221.925926,334.695652,1.0,0.0,0.0,16403
20630,0.0,5.0,1.0,5.0,1460.0,65535.0,0.0,0.0,0.0,0.0,...,1414.0,1414.0,619.611011,259.937969,567.261941,267.707951,1.0,0.0,0.0,16403
20631,0.0,5.0,1.0,5.0,1460.0,65535.0,0.0,0.0,0.0,0.0,...,487.0,1414.0,198.856520,471.777975,227.316667,647.592105,1.0,0.0,0.0,18403

we got a big data set with mroe then 20000 records and about 70 features

# Read Tuned Data

to make it more comfortable, using the proper scripts that placed in "DB_Scripts" directory, the titles and values was tuned to thier proper types

In [14]:
data = pd.read_csv(path+tuned_data_file+target_label+'.csv',
                      sep='\t',
                      skiprows=[1])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20632 entries, 0 to 20631
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   fSSL_session_id_len           20632 non-null  int64
 1   fSSL_num_extensions           20632 non-null  int64
 2   fSSL_num_compression_methods  20632 non-null  int64
 3   SYN_tcp_scale                 20632 non-null  int64
 4   SYN_MSS                       20632 non-null  int64
 5   SYN_tcp_winsize               20632 non-null  int64
 6   fcipher_suites_1              20632 non-null  int64
 7   fcipher_suites_2              20632 non-null  int64
 8   fcipher_suites_3              20632 non-null  int64
 9   fSSLv_1                       20632 non-null  int64
 10  fSSLv_2                       20632 non-null  int64
 11  fSSLv_3                       20632 non-null  int64
 12  fSSLv_4                       20632 non-null  int64
 13  size_histogram_1              20632 non-null  int64
 14  size_histogram_2              20632 non-null  int64
 15  size_histogram_3              20632 non-null  int64
 16  size_histogram_4              20632 non-null  int64
 17  size_histogram_5              20632 non-null  int64
 18  size_histogram_6              20632 non-null  int64
 19  size_histogram_7              20632 non-null  int64
 20  size_histogram_8              20632 non-null  int64
 21  size_histogram_9              20632 non-null  int64
 22  size_histogram_10             20632 non-null  int64
 23  fpeak_features_1              20632 non-null  float64
 24  fpeak_features_2              20632 non-null  int64
 25  fpeak_features_3              20632 non-null  int64
 26  fpeak_features_4              20632 non-null  float64
 27  fpeak_features_5              20632 non-null  int64
 28  fpeak_features_6              20632 non-null  float64
 29  fpeak_features_7              20632 non-null  float64
 30  fpeak_features_8              20632 non-null  float64
 31  fpeak_features_9              20632 non-null  float64
 32  bpeak_features_1              20632 non-null  float64
 33  bpeak_features_2              20632 non-null  int64
 34  bpeak_features_3              20632 non-null  int64
 35  bpeak_features_4              20632 non-null  float64
 36  bpeak_features_5              20632 non-null  int64
 37  bpeak_features_6              20632 non-null  float64
 38  bpeak_features_7              20632 non-null  float64
 39  bpeak_features_8              20632 non-null  float64
 40  bpeak_features_9              20632 non-null  float64
 41  packet_count                  20632 non-null  int64
 42  min_packet_size               20632 non-null  int64
 43  max_packet_size               20632 non-null  int64
 44  mean_packet_size              20632 non-null  float64
 45  sizevar                       20632 non-null  float64
 46  std_fiat                      20632 non-null  float64
 47  fpackets                      20632 non-null  int64
 48  bpackets                      20632 non-null  int64
 49  fbytes                        20632 non-null  int64
 50  bbytes                        20632 non-null  int64
 51  min_fiat                      20632 non-null  float64
 52  min_biat                      20632 non-null  float64
 53  max_fiat                      20632 non-null  float64
 54  max_biat                      20632 non-null  float64
 55  std_biat                      20632 non-null  float64
 56  mean_fiat                     20632 non-null  float64
 57  mean_biat                     20632 non-null  float64
 58  min_fpkt                      20632 non-null  int64
 59  min_bpkt                      20632 non-null  int64
 60  max_fpkt                      20632 non-null  int64
 61  max_bpkt                      20632 non-null  int64
 62  std_fpkt                      20632 non-null  float64
 63  std_bpkt                      20632 non-null  float64
 64  mean_fpkt                     20632 non-null  float64
 65  mean_bpkt                     20632 non-null  float64
 66  mean_fttl_1                   20632 non-null  int64
 67  mean_fttl_2                   20632 non-null  int64
 68  num_keep_alive                20632 non-null  int64
 69  tuple                         20632 non-null  int64
dtypes: float64(26), int64(44)
memory usage: 11.0 MB

In [16]:
data.shape

(20632, 70)

In [18]:
data[target_label].unique()

array([16102, 14602, 15602, 18102, 13102, 11602, 16201, 13201, 18201,
       16101, 13101, 18101, 16202, 18202, 13202, 16302, 18302, 13302,
       13403, 18403, 17403, 14601, 17101, 12101, 17201, 12201, 16403,
       16103, 13103, 18103], dtype=int64)

In [22]:
data.head()
# data.tail()
# those will be the same as above...

,fSSL_session_id_len,fSSL_num_extensions,fSSL_num_compression_methods,SYN_tcp_scale,SYN_MSS,SYN_tcp_winsize,fcipher_suites_1,fcipher_suites_2,fcipher_suites_3,fSSLv_1,...,max_fpkt,max_bpkt,std_fpkt,std_bpkt,mean_fpkt,mean_bpkt,mean_fttl_1,mean_fttl_2,num_keep_alive,tuple
0,32,13,1,8,1460,8192,0,1,0,0,...,571,1414,81.771159,355.893919,71.938138,1289.699861,0,1,2,16102
1,0,7,1,8,1460,8192,0,0,1,0,...,923,1414,307.559344,606.057694,268.333333,611.750000,0,1,0,14602
2,0,12,1,8,1460,8192,0,1,0,0,...,515,1414,98.073770,323.085513,80.223022,1319.186207,0,1,0,16102
3,0,12,1,8,1460,8192,0,1,0,0,...,747,1414,122.320333,321.179295,89.828571,176.085714,0,1,19,16102
4,0,7,1,8,1460,8192,0,0,0,0,...,523,1414,147.162557,678.502510,139.272727,626.900000,0,1,0,15602

# Read Optimized Data

after couple of expiriments the dataset was optimized when unimportant features (in manner of variant and contributions for prediction scores) been removed

In [23]:
data = pd.read_csv(path+optimized_data_file+target_label+'.csv',
                      sep='\t',
                      skiprows=[1])

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20632 entries, 0 to 20631
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fSSL_session_id_len  20632 non-null  int64
 1   fSSL_num_extensions  20632 non-null  int64
 2   SYN_tcp_scale        20632 non-null  int64
 3   SYN_tcp_winsize      20632 non-null  int64
 4   size_histogram_1     20632 non-null  int64
 5   size_histogram_2     20632 non-null  int64
 6   size_histogram_3     20632 non-null  int64
 7   size_histogram_4     20632 non-null  int64
 8   size_histogram_5     20632 non-null  int64
 9   size_histogram_6     20632 non-null  int64
 10  size_histogram_7     20632 non-null  int64
 11  size_histogram_8     20632 non-null  int64
 12  size_histogram_9     20632 non-null  int64
 13  size_histogram_10    20632 non-null  int64
 14  fpeak_features_1     20632 non-null  float64
 15  fpeak_features_2     20632 non-null  int64
 16  fpeak_features_3     20632 non-null  int64
 17  fpeak_features_4     20632 non-null  float64
 18  fpeak_features_5     20632 non-null  int64
 19  fpeak_features_6     20632 non-null  float64
 20  fpeak_features_7     20632 non-null  float64
 21  fpeak_features_8     20632 non-null  float64
 22  fpeak_features_9     20632 non-null  float64
 23  bpeak_features_1     20632 non-null  float64
 24  bpeak_features_2     20632 non-null  int64
 25  bpeak_features_3     20632 non-null  int64
 26  bpeak_features_4     20632 non-null  float64
 27  bpeak_features_5     20632 non-null  int64
 28  bpeak_features_6     20632 non-null  float64
 29  bpeak_features_7     20632 non-null  float64
 30  bpeak_features_8     20632 non-null  float64
 31  bpeak_features_9     20632 non-null  float64
 32  packet_count         20632 non-null  int64
 33  min_packet_size      20632 non-null  int64
 34  max_packet_size      20632 non-null  int64
 35  mean_packet_size     20632 non-null  float64
 36  sizevar              20632 non-null  float64
 37  std_fiat             20632 non-null  float64
 38  fpackets             20632 non-null  int64
 39  bpackets             20632 non-null  int64
 40  fbytes               20632 non-null  int64
 41  bbytes               20632 non-null  int64
 42  max_fiat             20632 non-null  float64
 43  max_biat             20632 non-null  float64
 44  std_biat             20632 non-null  float64
 45  mean_fiat            20632 non-null  float64
 46  mean_biat            20632 non-null  float64
 47  min_fpkt             20632 non-null  int64
 48  min_bpkt             20632 non-null  int64
 49  max_fpkt             20632 non-null  int64
 50  max_bpkt             20632 non-null  int64
 51  std_fpkt             20632 non-null  float64
 52  std_bpkt             20632 non-null  float64
 53  mean_fpkt            20632 non-null  float64
 54  mean_bpkt            20632 non-null  float64
 55  num_keep_alive       20632 non-null  int64
 56  tuple                20632 non-null  int64
 57  ssl_v                20632 non-null  int64
 58  fcipher_suites       20632 non-null  int64
 59  mean_fttl            20632 non-null  int64
dtypes: float64(24), int64(36)
memory usage: 9.4 MB

In [25]:
data.shape

(20632, 60)

In [26]:
data[target_label].unique()

array([16102, 14602, 15602, 18102, 13102, 11602, 16201, 13201, 18201,
       16101, 13101, 18101, 16202, 18202, 13202, 16302, 18302, 13302,
       13403, 18403, 17403, 14601, 17101, 12101, 17201, 12201, 16403,
       16103, 13103, 18103], dtype=int64)

In [27]:
data.head()
# data.tail()
# those will be the same as above...

,fSSL_session_id_len,fSSL_num_extensions,SYN_tcp_scale,SYN_tcp_winsize,size_histogram_1,size_histogram_2,size_histogram_3,size_histogram_4,size_histogram_5,size_histogram_6,...,max_bpkt,std_fpkt,std_bpkt,mean_fpkt,mean_bpkt,num_keep_alive,tuple,ssl_v,fcipher_suites,mean_fttl
0,32,13,8,8192,3610,52,210,192,14,20,...,1414,81.771159,355.893919,71.938138,1289.699861,2,16102,2,2,2
1,0,7,8,8192,9,1,1,1,1,1,...,1414,307.559344,606.057694,268.333333,611.750000,0,14602,4,3,2
2,0,12,8,8192,143,5,8,3,0,2,...,1414,98.073770,323.085513,80.223022,1319.186207,0,16102,2,2,2
3,0,12,8,8192,61,4,2,0,1,0,...,1414,122.320333,321.179295,89.828571,176.085714,19,16102,2,2,2
4,0,7,8,8192,12,4,0,1,0,0,...,1414,147.162557,678.502510,139.272727,626.900000,0,15602,4,0,2